In [30]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [31]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [32]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [33]:
def my_function(**child):
  print("His last name is " + child["child2"])

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

His last name is Tobias

In [34]:
# Python code to demonstrate call by value
string = "FAST"


def test(string):
    string = "FAST School of Computing"
    print("Inside Function:", string)

# Driver's code
test(string)
print("Outside Function:", string)

Inside Function: FAST School of Computing
Outside Function: FAST

In [35]:
h = eval(input("Enter diamond's height: "))

for x in range(h):
    print(" " * (h - x), "*" * (2*x + 1))
for x in range(h - 2, -1, -1):
    print(" " * (h - x), "*" * (2*x + 1))

Enter diamond's height: 9
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [36]:
a = "first"
b = "first"


# Returns the actual location 
# where the variable is stored
print(id(a))

# Returns the actual location 
# where the variable is stored
print(id(b))

# Returns true if both the variables
# are stored in same location
print(b is a)

1414256829808
1414256829808
True

In [37]:
a = [10, 20, 30]
b = [10, 20, 30]

# return the location
# where the variable 
# is stored
print(id(a))

# return the location
# where the variable 
# is stored
print(id(b))

# returns false if the
# location is not same
print(a is b)
print(a)

1414353589504
1414361432704
False
[10, 20, 30]

In [39]:
# A simple Python function
def fun():
    print("Welcome to function")


# Driver code to call a function
fun()

Welcome to function

In [40]:
def add(num1: int, num2: int) -> int:
    """Add two numbers"""
    num3 = num1 + num2

    return num3

# Driver code
num1, num2 = 25, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")

The addition of 25 and 15 results 40.

In [41]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function("Austria")
my_function("Brazil")

I am from Sweden
I am from India
I am from Austria
I am from Brazil

In [42]:
def myFunc(myList):
 print("List received: ",myList)
 myList.append(3)
 myList.extend([7,1])
 print(myList)
 print("List after adding some elements:", myList)
 myList.remove(7)
 myList=[3, 4, 6]
 print("List within called function:", myList)
 return
 
List1=[1]
print("List before function call :",List1)
myFunc(List1)
print("List after function call: ",List1)

List before function call : [1]
List received:  [1]
[1, 3, 7, 1]
List after adding some elements: [1, 3, 7, 1]
List within called function: [3, 4, 6]
List after function call:  [1, 3, 1]

In [45]:
def myFunc(myList):
 print("List received: ",myList)
list1 = [1,2,3,4,5,6,7, 'ali']
myFunc(list1)
type(list1)

List received:  [1, 2, 3, 4, 5, 6, 7, 'ali']

list

In [33]:
def greet(*names):  
    print ('Hello ', names[0], ', ', names[1], ', ', names[2])

greet('Steve', 'Bill', 'ali')

Hello  Steve ,  Bill ,  ali

In [47]:
# Python program to illustrate
# *args for variable number of arguments
def myFun(*argv):
    for arg in argv:
        print(arg)


myFun('shahid', 'raza', 'rahim', 'laiq', 'remsha')

shahid
raza
rahim
laiq
remsha

In [51]:
list = [1,2,3]
list.append(4)
list.extend([5,6])
print(list)

[1, 2, 3, 4, 5, 6]

In [53]:
set = {1,2,3}
set.add(4)
print(set)

{1, 2, 3, 4}

In [47]:
dic = {1:'ss'}
dic.update({2:'dd'})
print(dic)

{1: 'ss', 2: 'dd'}

In [48]:
def myFun(arg1, **kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun("Hi", first='I', mid='am', last='student')

first == I
mid == am
last == student

In [50]:
def my_function(*kids):
  print("The youngest child is " + kids[0])

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [52]:
def my_function(**kid):
  print("His last name is " + kid["fname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Tobias

In [55]:
def fun(d,a):
    return d
    sum = d+a
ss =fun(3,4)
print(ss)

3

In [60]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")
print(type("The youngest child is "))

The youngest child is Linus
<class 'str'>

In [64]:
def play(*players):
    print("the name of the player " + players[4])
play('p1', 'p2', 'p3', 'p4', 'p5')

the name of the player p5

In [8]:
def play(**players):
    print("the player is "+players['fourth'])
    
play(first='me', second= 'yu', third = 'kim', fourth = 'li')

the player is li

In [16]:
# x = 5 means that take the value of five and assigne it to x, for example x is a box and 5 is value so take this value of 5 and put it into the box whose name is x
# now again if i assign 10 to x it means that the previous value is garbaged and the new value is assigned to x
x=5
x
x=10
x
y = 'sohail'

In [4]:
x=9
y=10
y%x

1

In [104]:
import numpy as np
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
x  = [1,2,3,4,5]
print(np.size(arr))
print(len(arr))
len(x)

8
2

5

In [22]:
def cube(x):
   r=x**3
   return r
cube(2)

8

In [240]:
# Python program to 
# demonstrate return statement 

def add(a, b):
    r = a+b
    return r
add(2, 3)

5

In [57]:
def fun():
    str = "strings"
    x = 20
    return str, x
fun()

('strings', 20)

In [56]:
def fun(): 
    str = "this is string"
    x = 20
    return str, x
fun()

('this is string', 20)

In [63]:
def fun(): 
    d = dict();  
    d['str'] = "dic"
    d['x']   = 20
    return d 
xx=fun() 
print(xx)
type(xx)
len(xx)
id(xx)

{'str': 'dic', 'x': 20}

1414363198464

In [72]:
global_var = 100

def another_function():
    return global_var  # Accessing the global variable
another_function()
# the region where the veriable is known as callad the scope of the veriable
# the life time of the veriable means that the duration for which the veriable exists in the memory

100

In [73]:
for i in range(5):
    print("Barza is my daught")

Barza is my daught
Barza is my daught
Barza is my daught
Barza is my daught
Barza is my daught

In [79]:
for i in range(10):
    if i % 2 == 0:
        print(f"{i} is even.")
    else:
        print(f"{i} is odd.")

0 is even.
1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.
6 is even.
7 is odd.
8 is even.
9 is odd.

In [86]:
num =int(input('enter num :'))
if num % 2 == 0 :
    print('num is even')
else:
    print('num is odd')

enter num :5
num is odd

In [84]:
for i in range(10,15):
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

10 is even
11 is odd
12 is even
13 is odd
14 is even

In [90]:
def nature():
    for i in range(9):
        if i % 2 ==0:
            print(f'{i} is even')
            
nature()

0 is even
2 is even
4 is even
6 is even
8 is even

In [97]:
def nature(x):
    Str = ['ali is my friend']
    return Str, x
nature(10)

(['ali is my friend'], 10)

In [109]:
#global variable define outside the function
a = 1 
def f(): 
    a = 10
    return a
f()

10

In [142]:
# a variable that is defined in function but called outside the function
def f():
    global a
    x = "variable '\n' a is global variable"
    return x, a
f()
print(a)
id(a)

20

140718246040968

In [147]:
x = 7
x
y = 9.3
x=4
x
type(y)

float

In [148]:
type(x)

int

In [149]:
type(y)

float

In [155]:
def f(str, x):
    return str, x
f('ali', 3)

('ali', 3)

In [157]:
print(str.split('-'))

['geeksforgeeks']

In [170]:
x = 'ali is my frnd'
print(x.split())

['ali', 'is', 'my', 'frnd']

In [164]:
text = 'geeks for geeks'
  
# Splits at space 
print(text.split())

['geeks', 'for', 'geeks']

In [87]:
a=4
b=8
c=7
if(a!=b):
    print("true")
else:
    print('false')

true

ord('a')

In [88]:
if(a<b or b<c):
    print("hello")
else:
    print('sorry')

hello

In [89]:
sum = 0
n =1
while(n<=10):
    sum = sum + n
    n = n + 1
print(sum)

55

In [90]:
1+2+3+4+5+6+7+8+9+10

55

In [91]:
for i in range(h):
    print(" " * (h - i), "*" * (2*i + 1))

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

In [92]:
for i in range(h - 2, -1, -1):
    print(" " * (h - i), "*" * (2*i + 1))

   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [93]:
for i in range(h):
    print(" " * (h - i), "*" * (2*i + 1))
for i in range(h - 2, -1, -1):
    print(" " * (h - i), "*" * (2*i + 1))

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [96]:
# This code runs only in python 3.10 or above versions
def number_to_string(argument):
    match argument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "something"


head = number_to_string(2)
print(head)

two

In [209]:
x=5
id(x)

140718246040488

In [228]:
n = 6
fact = 1

for i in range(1, n+1):
    fact = fact * i
print("The factorial of 23 is : ", end="")
print(fact)

The factorial of 23 is : 720

In [231]:
n = 10
fact = 1

for i in range(1, n+1):
    fact = fact * i    
print('fact is ', end="")
print(fact)

fact is 3628800

In [97]:
text = 'sohail muhammad'
text.upper()

'SOHAIL MUHAMMAD'

In [98]:
text.swapcase()

'SOHAIL MUHAMMAD'

In [99]:
text.capitalize()

'Sohail muhammad'

In [100]:
text.title()

'Sohail Muhammad'

In [237]:
# a file named "geek", will be opened with the reading mode.
file = open('G:/Dr_Ahmad_and_Dr_Subhan_RA_ship/ami-game-master/case_study_1/node_types.txt', 'r')

# This will print every line one by one in the file
for each in file:
	print (each)

# Type Level

0 0

1 1

1 1

3 2

2 2

2 2

1 2

3 3

3 3

3 3

3 3

3 3

3 3

3 3

3 3

In [333]:
def f(a,b,c):
    math = a+(b*b)*c
    return math
print(f(2.5, 3.5, 4.5))
print(res)

57.625
57.625

In [263]:
def dmas(x,y,z):
    math = a+(b*b)*c
    return math

result = dmas(3.5, 4.5, 5.5)
print(result)

452

In [267]:
def K(C, zk):
    kal = C+zk
    return kal
temp = K(100,273)
print(temp)

373

In [285]:
class Student:
    def __init__(self, marks):
        self.marks = marks
        if marks>=60:
            print("pass")
        else:
            print('fail')
std = Student(99) 
print(std.marks)

pass
99

In [307]:
class Math:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    def cal(self):
        math = self.a+(self.b**2)*self.c
        return math
result = Math(2.5, 3.5, 4.5)
result.cal()
print('Result =', result.cal())

Result = 57.625

In [308]:
n = [1,1,2,2,3,4,4,4,5]
n

[1, 1, 2, 2, 3, 4, 4, 4, 5]

In [309]:
type(n)

list

In [101]:
list

[1, 2, 3, 4, 5, 6]

In [324]:
class Animal:
    def gen(self):
        print('this is general class')
    def sound(self):
        print('bao')
class Dog(Animal):
    def dog(self):
        print('this is dog specific class')
    def sound(self):
        print('hhhhhh')
ob = Dog()
ob.gen()
ob.sound()
ob.dog()
ob.sound()

this is general class
hhhhhh
this is dog specific class
hhhhhh

In [120]:
class Animal:
    def gen(self):
        print('This is a general class')
    def sound(self):
        print('Bao')

class Dog(Animal):
    def dog(self):
        print('This is a dog-specific class')
    def sound(self):
        print('Woof')
        super().sound()

ob = Dog()
ob.gen()
ob.dog()
ob.sound()

This is a general class
This is a dog-specific class
Woof
Bao

In [122]:
class Animal:
    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"
        super().speak()

def animal_sound(animal):
    return animal.speak()

dog = Dog()
cat = Cat()
cat.speak()
cat.speak()

print(animal_sound(dog))  # Outputs: "Woof!"
print(animal_sound(cat))  # Outputs: "Meow!"

Woof!
Meow!

In [332]:
from string import Template
t = Template('hi the value of x is $x')
print(t.substitute({'x':200}))

hi the value of x is 200

In [108]:
from string import Template
s = Template("hello dear $s")
print(s.substitute({'s':5}))

hello dear 5

In [109]:
def calc(a,b,c):
    math = a+(b**2)*c
    return math
def func():
    pass
exp = calc(2.3,4.5, 9.5)
print("please calculate these variable for me :", exp)

please calculate these variable for me : 194.675

In [21]:
def first_function(a,b,c):
    math = a+(b*b)*c
    return math

def second_function():
    pass
#i=5
#j=2
#k=3
p=first_function(4.5,5.5,6.5)
print(p)

201.125

In [29]:
def first_function(mylist):
    return mylist

def second_function():
    pass
p = first_function([1,2,3,4,5])
print(p)
type(p)

[1, 2, 3, 4, 5]

list

In [144]:
def first_function(a, b):
    a = 5
    b =6
    sum = a + b
    return sum

def second_function():
    pass
    # This function does not do anything in your code

#j = 2
#k = 3
p = first_function(5, 9)
print(p)

11

In [145]:
def first_function(mylist):
    return mylist

def second_function(mylist):
    result = sum(mylist)
    return result

my_list = [1, 2, 3, 4, 5]
p = first_function(my_list)
print(p)
print(result)

[1, 2, 3, 4, 5]
15

In [146]:
def fun(x,y):
    add = x+y
    return add
x = 2
y = 5
m = fun(x,y)
print(m)

7